html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
}
ul {
  user-select: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#header {
  height: 31px;
  width: 100%;
  cursor: default;
  background-color: #444;
  box-shadow: 0px 3px 3px #222;
  overflow: hidden;
  position: absolute;
  z-index: 10;
}
#header #topnav {
  display: inline-block;
  padding-inline-start: 60px;
}
#header #topnav li {
  padding: 5px 12px;
  height: 21px;
  margin-inline-start: -5px;
  color: darkGray;
  display: inline-block;
}
#header #topnav li:hover {
  background-color: #3E3E3E;
}
#header #topnav li.chosen {
  color: white;
  background-color: #333;
}
#header #topnav li a {
  color: darkGray;
  text-decoration: none;
}
#header #title {
  margin: 5px;
  margin-inline-start: 10%;
  width: 30%;
  display: inline-block;
  color: #C7C7C7;
  text-align: center;
}
.mainPanel {
  width: 100%;
  top: 31px;
  bottom: 27px;
  margin: 0 auto;
  display: none;
  position: absolute;
}
.mainPanel.active {
  display: block;
}
.side,
.left,
.mid,
.right {
  top: 0px;
  bottom: 0px;
  position: absolute;
}
.side {
  z-index: 8;
  width: 50px;
}
.left {
  z-index: 6;
}
.left .header {
  font-weight: inherit;
  font-size: 14px;
  color: #bbb;
  margin: 8px 10px;
  line-height: 36px;
}
.mid {
  z-index: 4;
}
.right {
  z-index: 6;
  right: 0px;
}
.container {
  position: absolute;
  overflow: auto;
}
.container:hover {
  overflow: auto;
}
.container::-webkit-scrollbar {
  width: 12px;
}
.container::-webkit-scrollbar-button {
  display: none;
}
.container::-webkit-scrollbar-thumb {
  background-color: rgba(188, 188, 188, 0.5);
}
#dataPanel .left {
  left: 0;
  width: 33%;
}
#dataPanel .mid {
  left: 33%;
  width: 33%;
}
#dataPanel .right {
  right: 0;
  width: 34%;
}
#dataPanel .left,
#dataPanel .mid,
#dataPanel .right {
  background-color: #333;
}
#dataPanel .left .header,
#dataPanel .mid .header,
#dataPanel .right .header {
  font-weight: inherit;
  font-size: 14px;
  color: #bbb;
  margin: 8px 10px;
  line-height: 36px;
}
#dataPanel .left .container,
#dataPanel .mid .container,
#dataPanel .right .container {
  background-color: #222;
  left: 0;
  right: 0;
  bottom: 0;
  top: 45px;
}
#dataPanel .left .container li,
#dataPanel .mid .container li,
#dataPanel .right .container li {
  padding: 2px 18px;
}
#mapPanel .side {
  padding-block-start: 10px;
  box-shadow: 3px 0px 3px #222;
  background-color: #444;
}
#mapPanel .side li {
  cursor: pointer;
  margin: -2px 0px;
  width: 30px;
  height: 30px;
  padding: 10px;
  filter: drop-shadow(50px 0 0 darkGray);
}
#mapPanel .side li:hover {
  filter: drop-shadow(50px 0 0 white);
}
#mapPanel .side img {
  transform: translate(-50px);
}
#mapPanel .side .chosen {
  filter: drop-shadow(50px 0 0 white);
}
#mapLeft {
  left: 50px;
  width: 280px;
  background-color: #333;
  transition: left 1s;
}
#mapLeft.collapse {
  left: -230px;
}
#mapLeft > div {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  display: none;
}
#mapLeft > div.active {
  display: block;
}
#mapLeft ul {
  margin: 15px 0px;
}
#mapLeft li {
  padding: 4px 2px 4px 15px;
  color: #C7C7C7;
}
#mapLeft #mapExplorer li:hover {
  background-color: #3E3E3E;
}
#mapLeft #mapExplorer li.chosen {
  background-color: #444;
}
#mapLeft .container {
  left: 5px;
  right: 2px;
  bottom: 0;
  top: 45px;
}
#mapLeft #buildingPara {
  color: #C7C7C7;
}
#mapMid {
  left: 330px;
  right: 360px;
  transition: left 1s;
}
#mapMid.collapse {
  left: 50px;
}
#canvasManager {
  white-space: nowrap;
  height: 32px;
  width: 100%;
  background-color: #252525;
}
#mapToolbar {
  white-space: nowrap;
  height: 24px;
  width: 100%;
  background-color: #252525;
  padding-inline-start: 20px;
  box-shadow: 0px 4px 2px #000;
}
#canvasTabList,
#paintToolbar {
  display: inline;
}
#canvasTabList li,
#paintToolbar li {
  cursor: pointer;
  color: darkGray;
  display: inline-block;
}
#canvasTabList li:hover,
#paintToolbar li:hover {
  background-color: #555;
}
#canvasTabList li.chosen,
#paintToolbar li.chosen {
  color: #C7C7C7;
  font-weight: bold;
  background-color: #555;
}
#canvasTabList {
  display: inline;
}
#canvasTabList li {
  padding: 7px 28px 7px 10px;
}
#paintToolbar {
  display: inline;
}
#paintToolbar li {
  padding: 2px 28px 2px 10px;
}
#mapViewPort {
  width: 100%;
  top: 56px;
  bottom: 0px;
  background-color: #1E1E1E;
  position: absolute;
}
#mapEdit {
  top: 19px;
  left: 19px;
  right: 0px;
  bottom: 0px;
  overflow: overlay;
  position: absolute;
}
#mapEdit .gameCanvas {
  position: absolute;
}
.markContainer {
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  border-collapse: collapse;
}
.markContainer.col {
  top: 0px;
  height: 19px;
  left: 19px;
  right: 0px;
}
.markContainer.col td {
  min-width: 29px;
  border: 1px solid white;
  border-top: 0px;
  width: 29px;
}
.markContainer.row {
  top: 19px;
  left: 0px;
  width: 19px;
  bottom: 0px;
}
.markContainer.row td {
  min-height: 29px;
  border: 1px solid white;
  border-left: 0px;
  height: 29px;
}
.markContainer table {
  table-layout: fixed;
  border-collapse: collapse;
}
.markContainer table td {
  font-size: 14px;
  text-align: center;
  color: white;
  cursor: crosshair;
}
.markContainer table td.chosen {
  font-weight: bold;
  background-color: #555;
}
#mapRight {
  background-color: #444;
  box-shadow: -3px 0px 3px #111;
  width: 360px;
}
#iconLib {
  position: absolute;
  width: 435px;
  height: 620px;
  left: 5px;
  top: 5px;
  overflow: auto;
}
#iconImages {
  overflow: hidden;
}
#iconImages img {
  position: absolute;
}
